* {
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;

    @include media-breakpoint-up(lg){
        padding: 0 50px;
        max-width: 1368px;
    }
}

.screen-reader-only{
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}