* {
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;

    @include media-breakpoint-up(lg){
        padding: 0 50px;
        max-width: 1368px;
    }
}

.screen-reader-only{
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.button-top{
    content: '';
    /* stylelint-disable */
    background-image: url('../../assets/arrow-black.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* stylelint-enable */
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    bottom: 50px;
    right: 50px;
    z-index: 10;
    display: none;
    position: fixed;

    @include media-breakpoint-up(lg) {
        display: none;
        background-image: url('../../assets/arrow-grey.svg'); // stylelint-disable-line
    }
}