.navbar{
    background-color: $light-grey;
    height: 30px;
}

.navbar__menu-toggle{
    &::after{
        content: url('');
        background-image: url('../../assets/list.svg'); // stylelint-disable-line
        background-size: cover; // stylelint-disable-line
        width: 25px;
        display: inline-block;
    }
}

.menu{
    position: absolute;
    width: 100%;
    display: grid; // arranges the dropdown menu anchors
    justify-content: center;
    row-gap: 10px;
    padding: 10px 0;
    left: 100%;
    background-color: $black;
    transition: 0.3s;
    text-align: center;
}

.menu__anchor{
    color: $white;
    text-decoration: none;
}

