<section class="contacts wrapper">
    <div class="contacts__header">
        <h2>Свържете се с нас за въпроси относно поръчването и инсталирането на панели</h2>
    </div>
    <div class="contacts__section">
        <div class="contacts__mail-icon"></div>
        <p>example@mail.com</p>
    </div>
    <form class="contacts__form" action="https://formsubmit.co/your@email.com" method="post">
        <input class="contacts__form-item" type="email" name="email" placeholder="Електронна поща" required>
        <input class="contacts__form-item" type="text" name="name" placeholder="Имена" required>
        <textarea class="contacts__form-item contacts__form-item--message" type="text" name="message" placeholder="Напишете съобщението си тук"></textarea>
        <button class="contacts__form-item contacts__form-item--close">Обратно</button>
        <button class="contacts__form-item contacts__form-item--send" type="submit">Изпрати</button>
    </form>
    <div class="contacts__section">
        <div class="contacts__phone-icon"></div>
        <p>+123 456 789</p>
    </div>
    <a class="contacts__form--show" href="javascript:;">Свържете се с нас</a>
</section>