<header class="header">
    <nav class="navbar wrapper">
        <div class="navbar__logo">
            bgsolar
        </div>
        <div class="navbar__nav">
            <a class="navbar__menu-toggle--on" href="javascript:;"></a>
            <a class="navbar__anchor" href="javascript:;">Начало</a>
            <a class="navbar__anchor" href="javascript:;">Продукти</a>
            <a class="navbar__anchor" href="javascript:;">Контакти</a>
            <a class="navbar__anchor" href="javascript:;">За нас</a>
        </div>
    </nav>
    <div class="menu">
        <a class="menu__logo" href="javascript:;">bgsolar</a>
        <a class="menu__anchor" href="javascript:;">Начало</a>
        <a class="menu__anchor" href="javascript:;">Продукти</a>
        <a class="menu__anchor" href="javascript:;">Контакти</a>
        <a class="menu__anchor" href="javascript:;">За нас</a>
        <a class="menu__toggle--off" href="javascript:;"></a>
    </div>
</header>