<header class="header">
    <nav class="navbar wrapper">
        <div class="navbar__logo">
            test.logo
        </div>
        <div class="navbar__nav">
            <a class="navbar__menu-toggle" href="javascript:;"></a>
        </div>
    </nav>
    <div class="menu">
        <a class="menu__anchor" href="javascript:;">Home</a>
        <a class="menu__anchor" href="javascript:;">Products</a>
        <a class="menu__anchor" href="javascript:;">Contacts</a>
        <a class="menu__anchor" href="javascript:;">Other</a>
    </div>
</header>