<header class="header">
    <nav class="navbar wrapper">
        <div class="navbar__logo">
            bgsolar
        </div>
        <div class="navbar__nav">
            <a class="navbar__menu-toggle--on" href="javascript:;"></a>
            <a class="navbar__anchor" href="#home">Начало</a>
            <a class="navbar__anchor" href="#products">Продукти</a>
            <a class="navbar__anchor" href="#services">Услуги</a>
            <a class="navbar__anchor" href="#contacts">Контакти</a>
        </div>
    </nav>
    <div class="menu">
        <a class="menu__logo" href="javascript:;">bgsolar</a>
        <a class="menu__anchor" href="#home">Начало</a>
        <a class="menu__anchor" href="#products">Продукти</a>
        <a class="menu__anchor" href="#services">Услуги</a>
        <a class="menu__anchor" href="#contacts">Контакти</a>
        <a class="menu__toggle--off" href="javascript:;"></a>
    </div>
    <a href="#home" class="button-top"></a>
</header>