<section class="home">
    <h1 class="screen-reader-only">БГ солар</h1>
    <div class="home__badge-container">
        <div class="home__badge">
            <div class="home__icon-1"></div>
            <p>Shipping</p>
        </div>
        <div class="home__badge">
            <div class="home__icon-2"></div>
            <p>Instalation</p>
        </div>
        <div class="home__badge">
            <div class="home__icon-3"></div>
            <p>Top quality</p>
        </div>
    </div>
</section>