<section class="home" id="home">
    <h1 class="screen-reader-only">БГ солар</h1>
    <div class="home__title-container wrapper home__fade-element">
        <h2 class="home__title">Соларни решения за вашият дом</h2>
    </div>
    <div class="home__badge-container wrapper">
        <div class="home__badge home__fade-element">
            <div class="home__icon-1"></div>
            <p>Бърза<br> доставка</p>
        </div>
        <div class="home__badge home__fade-element">
            <div class="home__icon-2"></div>
            <p>Експресна<br> инсталация</p>
        </div>
        <div class="home__badge home__fade-element">
            <div class="home__icon-3"></div>
            <p>Немско<br> качество</p>
        </div>
    </div>
</section>