<section class="products" id="products">
    

    <div class="swiper products__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="products__images">
                <img class="products__image" src="../../assets/images/aurora-panel.png" height="100%" alt="aurora-panel">
            </div>
            <div class="products__description">
                <div class="products__text-wrapper">
                    <h2 class="products__model">AE550MD-144</h2>
                    <p>Type of panels : Half-Cut Cell * Mono-Facial</p>
                    <p>Type and no. of cell : Mono-crystalline 144 (6x12)</p>
                    <p>Maximum system voltage : 1500 (V)</p>
                    <p>Power range : 530W-550W</p>
                    <p>Efficiency range : 20.53%-21.31%</p>
                    <p>Dimensions : 2278 mm x 1133 mm x 35 mm</p>
                    <p>Weight : 27kg</p>
                    <p>Performance Guarantee : 30 years</p>
                    <p>Product Warranty : 15 years</p>
                </div>    
            </div>
          </div>
          <div class="swiper-slide">
            <div class="products__images">
                <img class="products__image" src="../../assets/images/aurora-panel.png" height="100%" alt="aurora-panel">
            </div>
            <div class="products__description">
                <div class="products__text-wrapper">
                    <h2 class="products__model">AE450MC-144</h2>
                    <p>Type of panels : Half-Cut Cell * Mono-Facial</p>
                    <p>Type and no. of cell : Mono-crystalline 144 (6x12)</p>
                    <p>Maximum system voltage : 1500 (V)</p>
                    <p>Power range : 430W-450W</p>
                    <p>Efficiency range : 19.78%-20.70%</p>
                    <p>Dimensions : 2094 mm x 1038 mm x 35 mm</p>
                    <p>Weight : 23 kg</p>
                    <p>Performance Guarantee : 30 years</p>
                    <p>Product Warranty : 15 years</p>
                </div>    
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
</section>