// theme colors
$theme-color-primary: var(--cez-primary);
$theme-color-secondary: var(--cez-secondary);
$white: #fff;
$black: #000;
$grey: #666;
$light-grey: #ccc;
$danger: rgb(255, 0, 0);
$send: rgb(0, 153, 255);

// typography
$theme-font-base: 16px;
$font-size-15: 15px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-25: 25px;
$font-size-30: 30px;
$font-size-35: 35px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-50: 50px;
$font-blazma: blazma;
@font-face {
        font-family: $font-blazma;
        src: url('../assets/fonts/Blazma-515KZ.ttf') format('truetype');
}
$font-blazma-italic: blazma-italic;
@font-face {
        font-family: $font-blazma-italic;
        src: url('../assets/fonts/BlazmaItalic-6Y52q.ttf') format('truetype');
}
$font-seldomscene: seldomscene;
@font-face {
        font-family: $font-seldomscene;
        src: url('../assets/fonts/SeldomScene-B6lG.ttf') format('truetype');
}

//properties
$background-transparent: transparent;

//other
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 666px,
        lg: 1024px,
        xl: 1200px,
        xxl: 1920px
);